:root {
    --cor1: rgb(234, 231, 231);
    --cor2: rgb(72, 122, 179);
    --cor3: rgb(5, 5, 188);
    --cor4: whitesmoke;
}

body {
    margin: 0;
    padding: 0;

}

#template-areas {
    display: grid;
    grid-template-areas:
        'sidebar content'
        'sidebar content'
        'sidebar content';
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}

/* formatação do cabeçalho */
#header {
    background-color: var(--cor1);
    position: fixed;
    text-align: left;
    width: 20%;
    top: 0;
}

#header a img {
    background-color: var(--cor1);
    width: 12%;
}

#header {
    background-color: var(--cor1);
}


/* formatação da sidebar */
#sidebar {
    width: 20%;
    grid-area: sidebar;
    background-color: var(--cor1);
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    height: 100%;


}

#sidebar a {
    display: block;
    color: black;
    padding: 5%;
    text-decoration: none;
}

#active {
    background-color: var(--cor4);
    font-weight: bold;
}

/* Links on mouse-over */
#sidebar a:hover:not(.active) {
    font-weight: bold;
}

#sidebar img {
    width: 100%;
    background-color: var(--cor1);
}

#logo img {
    margin-top: 10%;
    padding: 5%;
    width: 100%;
    background-color: var(--cor1);
}


/* formatação do conteúdo */
#content {
    grid-area: content;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    max-height: 600px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.mySlides fade {
    width: 100%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
    animation-name: fade 2s ease-in-out;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* formatação do footer */
#footer {
    text-align: center;
    width: 20%;
    bottom: 0;
    position: fixed;
    background-color: var(--cor1);

}

/* SEÇÃO ESPECÍFICA PARA A PÁGINA FORM */
.tituloForm {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: var(--cor1);
    width: 80%;
    margin-bottom: 1%;
}

.formulario {
    margin-left: 50px;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    #template-areas {
        grid-template-columns: 15% 85%;
    }

    #sidebar {
        width: 15%;
        z-index: 1;
    }

    #header,
    #footer {
        width: 15%;
    }

    #sidebar img,
    #logo img,
    .primeiraImagem img {
        width: 100%;
    }

    .formulario {
        margin-left: 10px;
        margin-top: 20px;
        z-index: 2;
        position: relative;
        background-color: white;
        padding: 10px;
    }

    .slideshow-container {
        max-height: 400px;
        margin-left: 15%;
    }

    .mySlides fade {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #template-areas {
        grid-template-columns: 15% 85%;
    }

    #sidebar {
        width: 15%;
        z-index: 1;
    }

    #header,
    #footer {
        width: 15%;
    }

    #sidebar img,
    #logo img {
        width: 100%;
    }

    .tituloForm {
        width: 85%;
        /* Altere de 80% para 100% para ocupar toda a largura disponível */
        margin-bottom: 1%;
        box-sizing: border-box;
        display: block;
    }

    fieldset {
        width: 80%;
    }

    .formulario {
        margin-left: 10px;
        margin-top: 20px;
        z-index: 2;
        position: relative;
        background-color: white;
        padding: 10px;
        box-sizing: border-box;
        width: 80%;
    }

    .slideshow-container {
        margin-top: 2%;
        width: 85%;
    }

    .mySlides.fade {
        width: 85%;
    }
}