
#template-areas{
    background-color: rgba(255, 255, 255, 0.77);
    display: grid;
    grid-template-areas:
    'header header header header'
    'sidebar content content content'
    'footer footer footer footer';
    grid-template-columns:20% 80% ;
    grid-template-rows: 5% 90% 5%;
}

/* formatação do cabeçalho */
#header {
    grid-area: header;
    position: fixed;
}

#header a img{
    width: 5%;

}


/* formatação da sidebar */
#sidebar {
    height: 100%;
    width: 160px;
    grid-area: sidebar;
    background-color:rgba(255, 255, 255, 0.405);
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;


}

#sidebar a{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
 
Active/current link
#sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
#sidebar a:hover:not(.active) {
 font-weight: bold;    
}

#sidebar img{
  width: 100%;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* formatação do conteúdo */
#content {
    grid-area: content;
}
.introducao{
    margin-top: 5px;
    padding: 1px 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.introducao li{
    list-style-type: none;
    padding: 10px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  max-height: 600px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.mySlides fade{
  width: 100%;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade 2s ease-in-out;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* formatação do footer */
footer{
    grid-area: footer;
    text-align: center;
}